<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    @*<div class="container">*@
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="~/images/logo_liverpool.png" alt="Logo" class="rounded-circle" style="width:40px; height = 40px;">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">List</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Create" class="nav-link">Creat</a>
                </li>
            </ul>
        </div>
    </nav>
    @*</div>*@
    <div>
        @RenderBody()
    </div>
    <footer class="border-top card-footer text-muted">
        <span> &copy; C0520G1 @DateTime.Now.Year</span>
    </footer>
    @*<div style="background-color:aqua; height: 30px; width: 100%">
            <span> &copy; C0520G1 @DateTime.Now.Year</span>
        </div>*@
    @RenderSection("Scripts", false);
</body>
</html>
