@model IndexModel
@{
    ViewData["Title"] = "Future Value Calculator";
}
<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <form asp-controller="Home" asp-action="OnPost" method="post">
        <div class="form-group">
            <label for="rate">Inventment Amount:</label>
            <input type="text" asp-for="@Model.InventmentAmount" class="form-control" placeholder="Enter Inventment Amount">
        </div>
        <div class="form-group">
            <label for="usd">Yearly Interest Rate:</label>
            <input type="text" asp-for="@Model.YearlyInterestRate" class="form-control" placeholder="Enter Yearly Interest Rate">
        </div>
        <div class="form-group">
            <label for="usd">Number of Years:</label>
            <input type="text" asp-for="@Model.NumberofYears" class="form-control" placeholder="Enter Number of Years">
        </div>
        <div class="form-group">
            <label for="usd">Result Future Value</label>
            <input type="text" disabled asp-for="@Model.FutureValue" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Converter</button>
    </form>
</div>