@model BookDetailViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>View Model test</title>
</head>
<body>
    <p>View Model Test</p>
    <div>
        Book ID: @Model.Book.BookID
    </div>
    <div>
        Book Name: @Model.Book.BookName
    </div>
    <div>
        Author: @Model.Book.Author
    </div>
    <div>
        Location:  Row @Model.BookLocation.Row, Column @Model.BookLocation.Column, Shelf @Model.BookLocation.Shelf
    </div>
</body>
